/* style.css:
 * Makes additional style modifications to index.php
 */

html, body {
margin: 0;
}

body {
font-family: Helvetica, Arial, sans-serif;
background-color: black;
}

.ui-widget-content {
color: white;
}

#content {
background: rgb(128, 128, 128);
width: 50%;
margin-top: 1em;
margin-bottom: 1em;
margin-left: auto;
margin-right: auto;
padding: 1em 2em;
overflow: auto;
}

#error {
color: #FFCC00;
padding-bottom: 0.5em;
font-size: 0.8em;
}

.ui-widget-content a {
text-decoration: none;
font-weight: bold;
}

a:hover {
color: white;
}

.ui-button {
font-size:0.8em;
}

.small-text {
font-size: 0.8em;
}